body {
	background-color: ##f8f9fa;
	margin: 0;
	padding: 0;
}

.navbar-light .navbar-nav a.nav-link {
    color: #db5461;
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: #db5461;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #3c896d;
}

#jumbotron-background {
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(56, 56, 56, 0.9)), url('../img/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 70px;
	margin-bottom: 0;
}

.jumbotron {
	text-align: right;
}

.jumbotron > .container {
	width: 40%;
	min-width: 300px;
	text-align: right;
	margin-right: 10%;
}

#jumbotron-background .btn-primary {
    color: #fff;
    background-color: #db5461;
    border-color: #db5461;
		border-radius: 3px;
		transition: all 0.7s ease 0s;
}

#jumbotron-background .btn-primary:hover {
    color: #fff;
    background-color: #3c896d;
    border-color: #3c896d;
}

.card-body .btn-outline-secondary {
	border-color: #3c896d;
	transition: all 0.7s ease 0s;
}

.card-body .btn-outline-secondary:hover {
	background-color: #3c896d;
	border-color: #3c896d;
}

#welcome-section {
	height: 100vh;
	display: flex;
	align-items: center;
}

#intro {
	padding: 20px;
	border-radius: 2px;
	margin: 20px 0 0 0;
}

@media (max-width: 767px) {
	#intro .lead {
	padding-top: 30px;
	}
	#profile-pic {
		text-align: center;
	}
}

#skillset {
	background-color: #db5461;
	padding: 30px;
}

#skillset img {
	max-width: 80px;
	padding-bottom: 30px;
}

h2 {
	margin: 20px 0;
}

#skillset .lead {
	margin-bottom: 20px;
}

#projects {
	padding-top: 50px;
  padding-bottom: 30px;
}

#contact {
	margin-top: 20px;
	background-color: #3c896d;
	padding: 5px 10px;
}

hr {
	max-width: 400px;
}

@media (min-width: 768px) {
	.contact-headline {
	text-align: left !important;
	margin-left: 30px;
	}
}

.contact-social a {
  padding: 0 5px;
}

@media (min-width: 768px) {
	.contact-social {
	text-align: right !important;
	}
}
